head{
    color:pink;
}
p{
    color: black;
    background-color: bisque;
}
div {
    margin: 10px;
    padding: 20px;
    background-color: yellow;
    color: chartreuse;
    border: 10px;
    border: radius 20px;
    background-image: cover;
}
ol{
    border: 20px;
    color: blue;
    margin: 10px;
    padding: 50px;
    text-align: justify;
}
